# Exclude all IntelliJ configuration files.
.idea/

# Ignores for Gov Prototype elements.
alpha/external-web/.sass-cache
alpha/external-web/.start.pid
alpha/external-web/.port.tmp
alpha/external-web/public
alpha/external-web/lib/govuk_template.html
alpha/external-web/govuk_modules
alpha/external-web/node_modules/
alpha/external-web/.tmuxp.*