# Ignores for Gov Prototype elements.
test/wcag/html/
.sass-cache
.DS_Store
.start.pid
.port.tmp
public
lib/govuk_template.html
govuk_modules
node_modules/*
.tmuxp.*

# Ignores for APVS
eligibility-uploads
