<!-- Javascript -->
<script src="/public/javascripts/details.polyfill.js"></script>
<script src="/public/javascripts/jquery-1.11.3.js"></script>
<script src="/public/javascripts/jquery.dataTables.js"></script>
<script src="/public/javascripts/govuk/selection-buttons.js"></script>
<script src="/public/javascripts/application.js"></script>
<script src="/public/javascripts/eligibility-table.js"></script>
<script src="/public/javascripts/claims-table.js"></script>
<script src="/public/javascripts/income-check.js"></script>