{% extends "layout.html" %} {% block page_title %} Assisted Prison Visit Service (Internal) {% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  <div class="grid-row">

    <div class="column-two-thirds">
      <h2 class="heading-medium">Claim Applications</h2>

      <table id="claims-table" class="table">
        <thead>
          <tr>
            <th></th>
            <th>Ref No.</th>
            <th>Name</th>
            <th>Submitted</th>
            <th>Status</th>
          </tr>
        </thead>
      </table>
    </div>
</main>

{% endblock %}