{% extends "layout.html" %}

{% block page_title %}
{{ claimant['first-name'] }} {{ claimant['last-name'] }} Claimant Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">

        <div>

            <p>First Name: {{ claimant['first-name'] }}</p>
            <p>Last Name: {{ claimant['last-name'] }}</p>
            <p>Date of Birth: {{ claimant['dob-day'] }}/{{claimant['dob-month'] }}/{{claimant['dob-year']}}</p>

        </div>

        <!-- Income Eligibility Status -->
        <div>
            {% include "claimant-income-check.html" %}
        </div>

        <!-- Relationship Status -->
        <div>
            {% include 'claimant-relationship-check.html' %}
        </div>

        <!-- Application Status -->
        <div>
            {% include 'claimant-application-check.html' %}
        </div>

    </div>

</main>

{% endblock %}
