{% extends "layout.html" %}

{% block page_title %}
Assisted Prison Visit Service (Internal)
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">
        <div>

            <h1 class="heading-large">
                {% if serviceName %} {{ serviceName }} {% endif %}
            </h1>

            <table id="claimants-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Application Status</th>
                    </tr>
                </thead>
                
            </table>

        </div>

    </div>

</main>

{% endblock %}


