{% extends "layout.html" %}

{% block page_title %}
Application submitted
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Application submitted
            </h1>
            <h2 class="heading-large">
                Your reference number is {{ reference }}
            </h2>
            <p>
                Thank you, your application has been submitted.
            </p>

            <p>
                You should hear a response from the APVS team regarding your application within two weeks.
            </p>

        </div>
    </div>
</main>

{% endblock %}