{% extends "layout.html" %}

{% block page_title %}
APVS Application Form
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}

    <div class="grid-row">

        <h1 class="heading-xlarge">
            Enter Claim Details
        </h1>

        <form action="/claim-details/{{ id }}" method="post" class="form">

            <div class="form-group">

                <!-- TODO: Build the claim details form here. -->

                <div class="form-group">
                    <input type="submit" value="Continue" class="button">
                </div>

            </div>

        </form>

    </div>

</main>

{% endblock %}
