{% extends "layout.html" %}

{% block page_title %}
Claim submitted
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Claim submitted
            </h1>
            <p>
                Thank you, your claim has been submitted and will be processed manually.
            </p>

            <p>
                You should receive a response within 3-4 weeks.
            </p>

        </div>
    </div>
</main>

{% endblock %}