{% extends "layout.html" %}

{% block page_title %}
APVS Application Form
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Apply for APVS
            </h1>
            <p>
                Please enter the details of the claimant's escort.
            </p>

            <form action="/escorts/{{ claimant['_id'] }}" method="post" class="form">
                <div class="form-group">

                    <!-- Escort Type -->
                    <fieldset>

                        <label class="block-label">
                            <input type="radio" id="escort-adult" name="escort-type" value="Adult Escort"
                                   {% if claimant['escorts']['escort-type'] == 'Adult Escort' %} checked {% endif %}>
                            I am escorting an adult
                        </label>

                        <label class="block-label">
                            <input type="radio" id="escort-someones-children" name="escort-type" value="Someones Children"
                                   {% if claimant['escorts']['escort-type'] == 'Someones Children' %} checked {% endif %}>
                            Someone else's child/children
                        </label>

                        <!-- TODO: We should have a brnach here in that the form completed changes if the person is escorting their own children. -->

                        <label class="block-label">
                            <input type="radio" id="escort-my-children" name="escort-type" value="My Children"
                                   {% if claimant['escorts']['escort-type'] == 'My Children' %} checked {% endif %}>
                            My child/children
                        </label>

                    </fieldset>

                    <br>

                    <!-- Escorted Persons Details -->
                    <fieldset>

                        <p>
                            Give details of the <strong>adult</strong> you are escorting or details of the <strong>parent/carer</strong>
                            of the child/children
                            you are escorting.
                        </p>

                        <div class="form-group">
                            <label class="form-label-bold" for="escort-name">Their Name</label>
                            <input type="text" id="escort-name" class="form-control" name="escort-name"
                                   value="{{ claimant['escorts']['escort-name'] }}">
                        </div>

                        <div class="form-group">
                            <label class="form-label-bold" for="escort-address">Their Address</label>
                            <input type="text" id="escort-address" class="form-control" name="escort-address"
                                   value="{{ claimant['escorts']['escort-address'] }}">
                        </div>

                        <div class="form-group">
                            <label class="form-label-bold" for="escort-postcode">Their Postcode</label>
                            <input type="text" id="escort-postcode" class="form-control" name="escort-postcode"
                                   value="{{ claimant['escorts']['escort-postcode'] }}">
                        </div>

                        <div class="form-group">
                            <label class="form-label-bold" for="escort-NIN">Their National Insurance Number</label>
                            <input type="text" id="escort-NIN" class="form-control" name="escort-NIN"
                                   value="{{ claimant['escorts']['escort-NIN'] }}">
                        </div>

                        <div class="form-date">
                            <p class="form-hint">For example, 31 3 1980</p>

                            <div class="form-group form-group-day">
                                <label for="escort-dob-day">Day</label>
                                <input class="form-control" id="escort-dob-day" name="escort-dob-day" type="number"
                                       pattern="[0-9]*" min="0" max="31" value="{{ claimant['escorts']['escort-dob-day'] }}">
                            </div>

                            <div class="form-group form-group-month">
                                <label for="escort-dob-month">Month</label>
                                <input class="form-control" id="escort-dob-month" name="escort-dob-month" type="number"
                                       pattern="[0-9]*" min="0" max="12" value="{{ claimant['escorts']['escort-dob-month'] }}">
                            </div>

                            <div class="form-group form-group-year">
                                <label for="escort-dob-year">Year</label>
                                <input class="form-control" id="escort-dob-year" name="escort-dob-year" type="number"
                                       pattern="[0-9]*" min="0" max="2014" value="{{ claimant['escorts']['escort-dob-year'] }}">
                            </div>

                        </div>

                    </fieldset>

                    <br>

                    <div class="form-group">
                        <input type="submit" name="commit" value="Continue" class="button">
                    </div>

                </div>
            </form>


        </div>
    </div>
</main>

{% endblock %}


