{% extends "layout.html" %}

{% block page_title %}
APVS Application Form
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_alpha.html" %}
    <div class="grid-row">
        <div class="column-two-thirds">

            <h1 class="heading-xlarge">
                Apply for APVS
            </h1>
            <p>
                This form lets you apply for the Assisted Prison Visits Scheme.
            </p>

            <p>
                You may be eligible to receive support for costs associated with visiting a relative or friend in
                prison.
            </p>

            <form action="relationship" method="post" class="form">

                <div class="form-group">

                    <fieldset>

                        <label for="close-relative" class="block-label" data-target="close-relative-relationship">
                            <input type="radio" name="relationship" value="close-relative" id="close-relative">
                            Close Relative
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="close-relative-relationship">
                            <label for="relationship-to-prisoner" class="form-label">
                                What is your relationship to the person you are visiting?
                            </label>
                            <input class="form-control" type="text" name="relationship-to-prisoner"
                                   id="relationship-to-prisoner">
                        </div>

                    </fieldset>

                    <fieldset>

                        <label for="partner" class="block-label" data-target="partner-established-relationship">
                            <input type="radio" name="relationship" value="partner" id="partner">
                            Partner
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="partner-established-relationship">

                            <label for="partner-established-relationship" class="form-label">
                                Were you living as a couple, in an established relationship, immediately before the
                                period of prison custody was imposed
                            </label>

                            <label class="block-label">
                                <input type="radio" name="question" value="partner-established-relationship-yes"
                                       id="partner-established-relationship-yes">
                                Yes
                            </label>

                            <label class="block-label">
                                <input type="radio" name="question" value="partner-established-relationship-no"
                                       id="partner-established-relationship-yes-no">
                                No
                            </label>

                        </div>

                    </fieldset>

                    <label for="sole-visitor" class="block-label">
                        <input type="radio" name="relationship" value="sole-visitor" id='sole-visitor'>
                        Sole Visitor
                    </label>

                    <br>
                    <br>
                    <br>
                    <br>

                    If you are a close relative, partner or a sole visitor, do you need someone to help you during the
                    journey
                    <fieldset>

                        <label class="block-label" data-target="example_help">
                            <input type="radio" name="close-relative-yes" value="yes" id="close-relative-yes">
                            Yes
                        </label>

                        <div class="panel panel-border-narrow js-hidden" id="example_help">

                            <label class="block-label">
                                <input type="radio" name="question2" value="Yes" id="close-relative-medical">
                                Medical
                            </label>

                            <label class="block-label">
                                <input type="radio" name="question2" value="No" id="close-relative-75">
                                Aged 75 years or over
                            </label>

                        </div>

                        <label class="block-label">
                            <input type="radio" name="close-relative-no" value="No" id="close-relative-no">
                            No
                        </label>

                    </fieldset>

                </div>

                <div class="form-group"><input type="submit" name="commit" value="Continue" class="button"></div>

            </form>

        </div>
    </div>
</main>

{% endblock %}


